*~
*Compile-*.txt
*Run-*.txt
*Cilksan*.txt
*Cilkscale*.txt
*.o
*.out
*.pyc

tmp/
results/

# Compiled benchmarks
cilk5/cholesky
cilk5/cilksort
cilk5/fib
cilk5/heat
cilk5/lu
cilk5/matmul
cilk5/qsort
cilk5/rectmul
cilk5/strassen

intel/*.tar.gz
intel/*/release
intel/Mandelbrot*/*.bmp

pbbs/*/common/*Check
pbbs/breadthFirstSearch/*/BFS
pbbs/comparisonSort/*/sort
pbbs/convexHull/*/hull
pbbs/delaunayTriangulation/*/delaunay
pbbs/delaunayRefine/*/refine
pbbs/dictionary/*/dict
pbbs/integerSort/*/isort
pbbs/maximalIndependentSet/*/MIS
pbbs/maximalMatching/*/matching
pbbs/minSpanningForest/*/MST
pbbs/nBody/*/nbody
pbbs/nearestNeighbors/*/neighbors
pbbs/rayCast/*/ray
pbbs/removeDuplicates/*/remDups
pbbs/spanningForest/*/ST
pbbs/suffixArray/*/SA
pbbs/testData/geometryData/data/*
pbbs/testData/geometryData/addRays
pbbs/testData/geometryData/plummer
pbbs/testData/geometryData/uniform
pbbs/testData/graphData/data/*
pbbs/testData/graphData/addWeights
pbbs/testData/graphData/gridGraph
pbbs/testData/graphData/maxFlowGens
pbbs/testData/graphData/randLocalGraph
pbbs/testData/graphData/rMatGraph
pbbs/testData/sequenceData/data/*
pbbs/testData/sequenceData/addDataSeq
pbbs/testData/sequenceData/almostSortedSeq
pbbs/testData/sequenceData/exptSeq
pbbs/testData/sequenceData/randomSeq
pbbs/testData/sequenceData/trigramSeq
pbbs/testData/sequenceData/trigramString

!pbbs/testData/geometryData/data/Makefile
!pbbs/testData/graphData/data/Makefile
!pbbs/testData/sequenceData/data/Makefile
!pbbs/testData/sequenceData/data/trigrams.txt

pbbs/*/*/blockRadixSort.h
pbbs/*/*/cilkMakeF
pbbs/*/*/dataGen.h
pbbs/*/*/delaunay.C
pbbs/*/*/delaunayDefs.h
pbbs/*/*/delaunayQs.h
pbbs/*/*/deterministicHash.h
pbbs/*/*/geometry.h
pbbs/*/*/geometryIO.h
pbbs/*/*/getmemory.h
pbbs/*/*/gettime.h
pbbs/*/*/gppDefs
pbbs/*/*/gppMakeF
pbbs/*/*/graph.h
pbbs/*/*/graphIO.h
pbbs/*/*/graphUtils.h
pbbs/*/*/IO.h
pbbs/*/*/lib
pbbs/*/*/MakeBench
pbbs/*/*/MakeBenchI
pbbs/*/*/merge.h
pbbs/*/*/ndHash.h
pbbs/*/*/nearestNeighbors.h
pbbs/*/*/octTree.h
pbbs/*/*/parallelDefs
pbbs/*/*/parallel.h
pbbs/*/*/parseCommandLine.h
pbbs/*/*/plib
pbbs/*/*/quickSort.h
pbbs/*/*/randPerm.h
pbbs/*/*/rangeMin.h
pbbs/*/*/runTests.py
pbbs/*/*/sampleSort.h
pbbs/*/*/semireduce.h
pbbs/*/*/semisort.h
pbbs/*/*/sequence.h
pbbs/*/*/sequenceIO.h
pbbs/*/*/serialHash.h
pbbs/*/*/serialSort.h
pbbs/*/*/speculative_for.h
pbbs/*/*/stlParallelSort.h
pbbs/*/*/topologyFromTri.C
pbbs/*/*/topology.h
pbbs/*/*/transpose.h
pbbs/*/*/unionFind.h
pbbs/*/*/utils.h

!pbbs/common/blockRadixSort.h
!pbbs/common/cilkMakeF
!pbbs/common/dataGen.h
!pbbs/common/delaunay.C
!pbbs/common/delaunayDefs.h
!pbbs/common/delaunayQs.h
!pbbs/common/deterministicHash.h
!pbbs/common/geometry.h
!pbbs/common/geometryIO.h
!pbbs/common/getmemory.h
!pbbs/common/gettime.h
!pbbs/common/gppDefs
!pbbs/common/gppMakeF
!pbbs/common/graph.h
!pbbs/common/graphIO.h
!pbbs/common/graphUtils.h
!pbbs/common/IO.h
!pbbs/common/lib
!pbbs/common/MakeBench
!pbbs/common/MakeBenchI
!pbbs/common/merge.h
!pbbs/common/ndHash.h
!pbbs/common/nearestNeighbors.h
!pbbs/common/octTree.h
!pbbs/common/parallelDefs
!pbbs/common/parallel.h
!pbbs/common/parseCommandLine.h
!pbbs/common/plib
!pbbs/common/quickSort.h
!pbbs/common/randPerm.h
!pbbs/common/rangeMin.h
!pbbs/common/runTests.py
!pbbs/common/sampleSort.h
!pbbs/common/semireduce.h
!pbbs/common/semisort.h
!pbbs/common/sequence.h
!pbbs/common/sequenceIO.h
!pbbs/common/serialHash.h
!pbbs/common/serialSort.h
!pbbs/common/speculative_for.h
!pbbs/common/stlParallelSort.h
!pbbs/common/topologyFromTri.C
!pbbs/common/topology.h
!pbbs/common/transpose.h
!pbbs/common/unionFind.h
!pbbs/common/utils.h

pbbs/*/*/*Time.C
pbbs/*/*/testInputs

!pbbs/*/common/*Time.C
!pbbs/*/common/testInputs

pbbs/breadthFirstSearch/*/BFS.h
!pbbs/breadthFirstSearch/common/BFS.h
pbbs/convexHull/*/hull.h
!pbbs/convexHull/common/hull.h
pbbs/delaunayRefine/*/refine.h
!pbbs/delaunayRefine/common/refine.h
pbbs/delaunayTriangulation/*/delaunay.h
!pbbs/delaunayTriangulation/common/delaunay.h
pbbs/maximalIndependentSet/*/MIS.h
!pbbs/maximalIndependentSet/common/MIS.h
pbbs/maximalMatching/*/matching.h
!pbbs/maximalMatching/common/matching.h
pbbs/minSpanningForest/*/MST.h
!pbbs/minSpanningForest/common/MST.h
pbbs/nBody/*/nbody.h
!pbbs/nBody/common/nbody.h
pbbs/nBody/*/spherical.h
!pbbs/nBody/common/spherical.h
pbbs/rayCast/*/ray.h
!pbbs/rayCast/common/ray.h
pbbs/spanningForest/*/ST.h
!pbbs/spanningForest/common/ST.h
pbbs/suffixArray/*/SA.h
!pbbs/suffixArray/common/SA.h

*miniFE*.yaml

reducers/dedup/data
reducers/dedup/out
reducers/dedup/src/cilk/dedup-reducer
reducers/dedup/src/cilk/dedup-serial
reducers/ferret/data
reducers/ferret/out
reducers/ferret/src/build
