*~
*Run-*.txt
*Cilksan*.txt
*Cilkscale*.txt
*.o

tmp/

# Compiled benchmarks
cilk5/cholesky
cilk5/cilksort
cilk5/fib
cilk5/heat
cilk5/lu
cilk5/matmul
cilk5/qsort
cilk5/rectmul
cilk5/strassen

intel/*.tar.gz
intel/*/release
intel/Mandelbrot*/*.bmp

pbbs/breadthFirstSearch/*/BFS
pbbs/comparisonSort/*/sort
pbbs/convexHull/*/hull
pbbs/delaunayTriangulation/*/delaunay
pbbs/delaunayRefine/*/refine
pbbs/dictionary/*/dict
pbbs/integerSort/*/isort
pbbs/maximalIndependentSet/*/MIS
pbbs/maximalMatching/*/matching
pbbs/minSpanningForest/*/MST
pbbs/nBody/*/nbody
pbbs/nearestNeighbors/*/neighbors
pbbs/rayCast/*/ray
pbbs/removeDuplicates/*/remDups
pbbs/spanningForest/*/ST
pbbs/suffixArray/*/SA
pbbs/testData/geometryData/data/*
pbbs/testData/geometryData/addRays
pbbs/testData/geometryData/plummer
pbbs/testData/geometryData/uniform
pbbs/testData/graphData/data/*
pbbs/testData/graphData/addWeights
pbbs/testData/graphData/gridGraph
pbbs/testData/graphData/maxFlowGens
pbbs/testData/graphData/randLocalGraph
pbbs/testData/graphData/rMatGraph
pbbs/testData/sequenceData/data/*
pbbs/testData/sequenceData/addDataSeq
pbbs/testData/sequenceData/exptSeq
pbbs/testData/sequenceData/randomSeq
pbbs/testData/sequenceData/trigramSeq
pbbs/testData/sequenceData/trigramString

!pbbs/testData/geometryData/data/Makefile
!pbbs/testData/graphData/data/Makefile
!pbbs/testData/sequenceData/data/Makefile
!pbbs/testData/sequenceData/data/trigrams.txt
